id: 0aded97e-4e2d-4e4d-93cf-4a7e45c7bab2
name: Recorded Future Playbook Alerts Incident Creation
description: |
  'Create Recorded Future Playbook Alerts in Microsoft Defender'
severity: Medium
status: Available
requiredDataConnectors:
  - connectorId: RecordedFuture
    dataTypes:
      - RecordedFuturePlaybookAlerts_CL
queryFrequency: 1h
queryPeriod: 1h
triggerOperator: gt
triggerThreshold: 0
tactics: []
relevantTechniques: []
query: |
  RecordedFuturePlaybookAlerts_CL
  | where TimeGenerated >= now(-1h)
eventGroupingSettings:
  aggregationKind: AlertPerResult
alertDetailsOverride:
  alertDisplayNameFormat: 'Alert: {{rule_label_s}}  - {{title_s}}'
  alertDescriptionFormat: |
    _Recorded Future Alert_

    Evidence Summary:
    {{evidence_summary_s}}

    Priority: {{priority_s}}

    Recorded Future Playbook Alert ID
    {{id_s}}
  alertDynamicProperties:
    - alertProperty: AlertLink
      value: link_s
customDetails:
  RFLabel: SourceSystem
  Category: Category
incidentConfiguration:
  createIncident: true
  groupingConfiguration:
    enabled: true
    reopenClosedIncident: false
    lookbackDuration: 1h
    matchingMethod: Selected
    groupByEntities: []
    groupByAlertDetails: []
    groupByCustomDetails:
      - Category
version: 1.0.0
kind: NRT
